results-div {
    overflow-y: auto;
    height: 265px;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    background-color: #3b3b4f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0a0a23;
}
:root {
    --phone-colors: #dfdfe2;
    --center-text: center;
    --gray-00: #fff;
}